[phases.setup]
aptPkgs = ["tesseract-ocr", "libtesseract-dev"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "python railway_start.py"

