[phases.setup]
nixPkgs = ["python3", "tesseract", "libtesseract"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "python railway_start.py"

